
*.vsidx
*.lock
*.props
*.targets
*.props
*.cs
*.cache
*.cache
*.editorconfig
*.json
*.cache
*.targets
*.props
*.json
*.targets
*.json
*.cache
*.pdb
*.dll
*.xml
*.1
*.1
*.config
.vs/CalValPlus/v17/.suo
*.v2
*.cache
*.BuildWithSkipAnalyzers
*.CopyComplete
