
*.vsidx
*.lock
*.props
*.targets
*.props
*.cache
*.cache
*.editorconfig
*.json
*.cache
*.targets
*.props
*.json
*.targets
*.json
*.cache
*.pdb
*.dll
*.xml
*.1
*.1
*.config
.vs/CalValPlus/v17/.suo
*.v2
*.cache
*.BuildWithSkipAnalyzers
*.CopyComplete
*.v1
*.cache
Properties/launchSettings.json
obj/project.nuget.cache
*.targets
*.props
obj/CalValPlus.csproj.nuget.g.props
